body{
    font-family: sans-serif;
    background-color:#e3ccb5;
}
h1{
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:#cc9966;
}
       
#mainTitle{
    font-size: 5em;
}
lga{
   background-color: #cc9966;
     max-height: 40%;
}

#lg1{
    background-image: url(../pic/01-hair-falling-out-lack-of-protein.jpg);
    background-size: cover;
}


.button {
   
  display: inline-block;
  border-radius: 4px;
  background-color: #e68a00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#lg2{
     height: 80%;
    background-image: url(../pic/5-Chinese-Herbs-That-Help-In-Treating-Hair-Loss.jpg);
    background-size: cover; 
}

#lgc{
  background-color: #cc7a00;
     max-height: 40%;  
    
}

#aa{ 
     margin: 15px;
    width: 300px;
     border: 2px solid white;
    background-color: #cc7a00;
}
